.bg-gradient-deep-purple {
  background-image: linear-gradient(to right bottom, rgba(60, 65, 139, 0.85), rgba(35, 14, 88, 0.85), rgba(88, 14, 39, 0.85)) !important;
}

body {
  background: #00334e no-repeat top center;
  /* background-image: url("../img/top_bg.jpg"); */
  background-size: cover;
}